<table class="table table-bordered">
    <thead>
        <th>상품</th><th>상품명</th><th>단가</th><th>구매량</th><th>총 금액</th><th>구매일</th><th>취소 여부</th>
        <% if (locals.isU) { %><th colspan="2">메뉴</th><% } %>
    </thead> 
   
    <% for (let i=0; i < list.length; i++) { %>
        <tr><td><img src="<%= list[i].image %>" style="width:100px; height:100px" alt="상품 이미지"></td>
            <td><%= list[i].name %></td>
            <td><%= list[i].price %></td>	<!--merchandise 말고 purchase 거-->
            <td><%= list[i].qty %></td>
            <td><%= list[i].total %></td>
            <td><%= list[i].date %></td>
            <td><% if (list[i].cancel=='N') {%>
                <a href="/purchase/cancel/<%=list[i].purchase_id%>" style="text-decoration-line:none" onclick="return confirm('정말로 구매를 취소하시겠습니까?')">구매취소</a>
            <%} else {%>
                취소된 상품
            <%} %></td>
            <% if (locals.isU) { %>	<!--관리자-->
                <td><a href="/purchase/update/<%= list[i].purchase_id %>">수정</a></td>
                <td><a href="/purchase/delete/<%= list[i].purchase_id %>" onclick="return confirm('정말로 삭제하시겠습니까?')">삭제</a></td>
            <% } %>
        </tr>
    <% } %>

</table>